<!DOCTYPE html>
<html>
  <head>
    <title>aSalvo V0.2</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class="cabecera">
    <div class="social_header">
      <i class="fab fa-twitter iconleft"></i>
      <i class="fab fa-facebook-f iconleft"></i>
      <i class="fab fa-instagram iconleft"></i>
      <a href="users"><i class="far fa-user iconright"></i></a>
      <i class="fas fa-search iconright"></i>
    </div>
    <nav id="mainNav">
     <ul class="no-list row">
      <li class="col-md">
       <%= link_to "Denuncia!", root_path,class:"denuncia"%>
      </li>
      <li class="col-md">
       <%= link_to "Apoyo", root_path%>
      </li>
      <li class="col-md">
       <%= link_to "Educación", root_path%>
      </li>
      <li>
        <%= image_tag 'logo.png',class:"logo"%>
      </li>
      <li class="col-md">
       <%= link_to "Meetups", root_path%>
      </li>
      <li class="col-md">
       <%= link_to "Encuesta", root_path%>
      </li>
      <li class="col-md">
       <%= link_to "Contáctenos", root_path%>
     </li>
     </ul>
    </nav>
  </header>
  <%= yield %>
  <footer>
    <div>
      <p>&copy; aSalvo 2018. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
  </body>
</html>
